.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

img{ /* TODO : voir pour scale les images uniformément */
  /*object-fit: cover;
  width: auto;
  height: fit-content;*/
  width : auto;
  height : 220px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card-title{
  padding-top : 10px;
  border-radius: 6px;
}